jsonlite
httr
curl
shiny
shinyjs
shinymaterial
htmlwidgets
leaflet
mapview
sf
tmap
rmapshaper
RColorBrewer
plotly
tidyverse
feasts
fable
tsibble
slider
fabletools 
scales
knitr
rlang
stringi
tidyselect
knitrProgressBar
DT
readxl
openxlsx 
readr
anytime
lubridate
furrr